.nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.nav .logo img{
    width:100px;
}

.nav .nav_but a{
    text-decoration:none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.header{
    background: url(../images/mainpage/background.jpg);
    background-position: center;
    /*background-size: cover //이미지가 요소를 모두 덮도록 커스텀*/
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header.title{
    text-align:center;
}

.header.title.img{
    width:10px;
}

.header.title h1{
    font-size:40px;
    color:#444;
    letter-spacing:0.2em;
    margin-bottom:0;
}

.header.title p{
    margin-top:0;
    margin-bottom:30px;
    color:#444;
}

.header.title.button{
    display: flex; //부모 요소에 대해 상대적으로 배치
    align-items: center;
    background: black;
    color: white;
    border: 2px solid white;
    justify-content: center;
}

.header .title button:hover{
    transition: .5s ease;
    border: 2px solid black;
    background: transparent;
    color: black;
}