<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/boardlist.css">
</head>
<body>
<h1>
    글 목록
</h1>
<div>

    <div class="nav">
        <div class="logo">
            <img src="./images/logo.png" alt="">
        </div>
        <div class="nav_but">
            <a href="/members/new">로그인</a>
            <a href="/Boards">둘러보기</a>
        </div>
    </div>

    <tr th:each="post : ${boardlist}">
        <td>
            <div>
                <a th:href="@{'/board/view/'+${post.id}}">
                    <span th:text="${post.title}"></span>
                </a>
            </div>
        </td>
    </tr>

    <span class="numberlist">
        <a th:href="@{'/Boardlist/'+${pn}}"><span th:text="${pn}"></span></a>
        <a th:href="@{'/Boardlist/'+${pn}+1}"><span th:text="${pn}+1"></span></a>
        <a th:href="@{'/Boardlist/'+${pn}+2}"><span th:text="${pn}+2"></span></a>
        <a th:href="@{'/Boardlist/'+${pn}+3}"><span th:text="${pn}+3"></span></a>
        <a th:href="@{'/Boardlist/'+${pn}+4}"><span th:text="${pn}+4"></span></a>
    </span>
</div>
</body>
</html>