<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/JoinForm" method="post">
    <span class="form">

      <section class="header">
        <h1>작품 정보 입력</h1>
      </section>

      <div class="q1">
        <label for="Nickname">
          <span class="question">ID : </span>
          <span class="ans">
            <input type="text" id="Nickname" name="Nickname" required style="border-left:none; border-right: none; border-top: none;"><br><br>
          </span>
        </label>
      </div>

      <div class="q2">
        <label for="pw">
          <span class="question">Password : </span>
          <span class="ans">
            <input type="text" id="pw" name="pw" required style="border-left:none; border-right: none; border-top: none;"><br><br>
          </span>
        </label>
      </div>

      <div class="sub">
            <button type="submit">login</button>
      </div>


    </span>
</form>
</body>
</html>