<!DOCTYPE HTML>
<!--- 타임리프의 th namespace 지정 --->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <! vis.js의 파일 참조 >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

        <!--html2canvas 라이브러리 가져오기-->
        <link href="/css/network_view.css" rel="stylesheet">

        <!--분리된 js파일에 서버에서 받은 값 넘기기-->
        <script>
                const BoardID=[[${BoardID}]];
                const nodeList = /*[[${#json.dumps(nodeList)}]]*/ [];
        </script>

        <! vis.js의 파일 참조 >
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <script type="text/javascript" src="/js/network_view.js"></script>
    </head>

<body>

    <div class="nav">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="nav_but">
            <a href="/members/new">로그인</a>
            <a href="/Boards">둘러보기</a>
        </div>
    </div>

    <!--- mynetwork: 인물 관계도가 실제로 그려지는 레이아웃 --->
    <div id="mynetwork"></div>

    <!--- 인물 관계도 저장 버튼: 관계도가 이미지 파일로 사용자의 컴퓨터에 저장된다. --->
    <div>
        <button id="saveButton" onclick="saveNetwork()">SAVE</button>
    </div>

    <!--인물 관계도 수정 버튼: 관계도를 수정하는 페이지로 이동한다-->
    <div>
        <button id="editButton" th:onclick="|location.href='@{/board/edit/}${BoardID}'|">EDIT</button>
    </div>

    <div id="nodeInfo">
        <div id="name"></div>
    </div>
</body>
</html>