<!DOCTYPE HTML>
<!--- 타임리프의 th namespace 지정 --->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <! vis.js의 파일 참조 >

    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
    <link href="/css/network_sample.css" rel="stylesheet">
    <script>
            const BoardID=[[${BoardID}]];
            const nodeList = /*[[${#json.dumps(nodeList)}]]*/ [];
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script type="text/javascript" src="/js/network_sample.js"></script>
  </head>

  <body>

  <div class="nav">
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="nav_but">
      <a href="/members/new">로그인</a>
      <a href="/Boards">둘러보기</a>
    </div>
  </div>

    <!--- mynetwork: 인물 관계도가 실제로 그려지는 레이아웃 --->
  <div class="net">
    <div id="mynetwork"></div>

    <!--- network-popup: 관계도의 생성, 수정, 삭제를 위한 레이아웃 --->
    <div id="network-popup">
      <span id="operation">node</span> <br/>
      <!--- 노드의 정보 입력 레이아웃 --->
      <table>
        <tbody>
        <tr>
          <td>name</td>
          <td> <input id="node-name" type="text" placeholder="캐릭터의 이름을 입력하세요."/></td>
        </tr>
        <tr>
          <td>details</td>
          <td> <input id="node-details" type="text" placeholder="캐릭터에 대한 설명을 적어주세요."/> </td>
        </tr>
        <tr>
          <td>photourl</td>
          <td><input id="node-photourl" type="text" placeholder="이미지의 url을 입력하세요."/></td>
        </tr>
        <tr>
          <td>photolocalpath</td>
          <td><input id="node-localpath" type="file" name=file accept=".gif, .jpg, .png" onchange="imageChange(event)" placeholder="기기에 저장된 이미지의 주소를 입력하세요."/></td>
        </tr>
        </tbody>
      </table>

      <!--- 수정, 삭제, 생성, 취소 버튼 --->
      <div id="buttons">
        <input type="button" value="add" id="addButton" />

        <!--- 노드가 직접 클릭되었을 때 나타나는 버튼 --->
        <div id="selectedButtons">
          <input type="button" value="update" id="updateButton">
          <input type="button" value="del" id="delButton" />
        </div>

        <input type="button" value="cancel" id="cancelButton" />
      </div>
    </div>

    <!--- 인물 관계도 저장 버튼: db에 변동 내용이 저장된다. --->
    <div>
      <button id="saveButton" onclick="saveNodes()">SAVE</button>
    </div>
</div>
  </body>
</html>