<!DOCTYPE html>
<html lang=""en>
<head>
    <meta charset="UTF-8">
    <title>영화 정보 입력</title>
    <link rel="stylesheet" href="./css/newpage.css"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>

</head>
<body>

<div class="nav">
    <div class="logo">
        <img src="logo.png" alt="">
    </div>
    <div class="nav_but">
        <a href="/members/new">로그인</a>
        <a href="/Boards">둘러보기</a>
    </div>
</div>

<div class="loginform">
    <span class="form">

      <section class="header">
        <h1>작품 정보 입력</h1>
      </section>

      <div class="q1">
        <label for="Nickname">
          <span class="question">ID : </span>
          <span class="ans">
            <input type="text" id="Nickname" name="Nickname" required style="border-left:none; border-right: none; border-top: none;"><br><br>
          </span>
        </label>
      </div>

      <div class="q2">
        <label for="pw">
          <span class="question">Password : </span>
          <span class="ans">
            <input type="text" id="pw" name="pw" required style="border-left:none; border-right: none; border-top: none;"><br><br>
          </span>
        </label>
      </div>

      <div class="sub">
            <button type="submit" onclick="loginToken()">login</button>
      </div>

    </span>
</div>
</body>
</html>
